/* Global Styles */
* {
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
}

body {
    background-image: url(../res/images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color: #FFF;
}

/* Main Styles */
.drumContainer {
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: calc(50vh - 10vh);
}

.drum {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    transition: transform 0.3s ease;
    border: 3px solid #000;
    border-radius: 6%;
    min-width: 5vw;
    margin: 1em;
    max-height: 10vh;
}

.letter {
    display: block;
    text-align: center;
    font-size: 3em;
    font-family: monospace;
    text-transform: uppercase;
}

.sub {
    display: block;
    text-align: center;
    font-size: 0.8em;
    font-family: sans-serif;
    text-transform: uppercase;
}

/* Animation Styles */
.active {
    --active: #ffc600;
    display: block;
    box-shadow: 0 0 2em var(--active);
    border-color: var(--active);
    transform: scale(1.1);
}

/* Responsive Styles */
@media only screen and (max-width: 1340px) {
    body {
        background: #222;
    }

    .drumContainer {
        overflow: scroll !important;
    }

    .drum {
        min-width: 80px !important;
        max-height: 100px;
    }
}