{{ template "base" . }}
{{ define "title" }} Home {{ end }}

{{ define "content" }}
<h1>My Items</h1>
<div class="container-sm">
    {{ if . }}
        <ol class="list-group list-group-numbered p-2">
            {{ range $i, $j := . }}
                <li class="list-group-item" id="i-{{ $i }}">
                    <b>{{ $j }}</b>
                </li> 
            {{ end }}
        </ol>
    {{ else }}
        <p class="p-3" style="text-align: center">Nothing yet...</p>
    {{ end }}

    <div class="container-sm d-flex p-2">
        <button class="m-1 flex-fill btn btn-success" onclick="add()">Add</button>
        <button class="m-1 flex-fill btn btn-danger" onclick="remove()">Remove</button>
        <button class="m-1 flex-fill btn btn-primary" onclick="refresh()">Refresh</button>
    </div>
</div>
{{ end }}

{{ define "js" }}
<script>
const refresh = () => location.reload();
const add = () => fetch(`/api/add?k=${encodeURIComponent(prompt("Enter new item"))}`).then(refresh);
const remove = () => fetch(`/api/remove?k=${encodeURIComponent(prompt("Enter kill item"))}`).then(refresh);

</script>
{{ end }}
